body
{
    background-color: #432818;
    color: #f2e9e4;
}
.title
{
    font-family: 'Ubuntu Mono', sans-serif;
    font-style: normal;
    /* font-size: 45px; */
}
.set
{
    display:inline-block;
    padding: 10px;
}
a
{
    display: inline-block;
}

.btn {
    display: inline-block;
    padding: 5px 16px;
    background: #bb9457;
    color: black;
    border-radius: 4px;
    text-decoration: none;
  }
.btn:hover {
    background: #ffe6a7;
}
.btn:active
{
    transform: scale(0.9);
}




